In [9]:
import numpy as np

a=np.array([1, 2, 3])
b=np.array([4, 5, 6])
c=np.stack((a, b), axis=1)
print(c.shape)

(3, 2)

In [17]:
import pandas as pd

data = {
    'A': [10, 5, 10, 15, 20],
    'B': ['abc', 'adf', 'adfad', 'acbdd', 'a']
}

df = pd.DataFrame(data)
df

    A      B
0  10    abc
1   5    adf
2  10  adfad
3  15  acbdd
4  20      a

In [23]:
df[(df['A'] > 5) & (df['B'].str.contains('abc'))]

    A    B
0  10  abc

In [27]:
import pandas as pd

data = {
    'A': [10, 5, 10, 15, 20],
    'B': ['abc', 'adf', 'adfad', 'acbdd', 'a'],
    'C': [3, 8, 19, 94, 78]
}

df = pd.DataFrame(data)
df

    A      B   C
0  10    abc   3
1   5    adf   8
2  10  adfad  19
3  15  acbdd  94
4  20      a  78

In [29]:
df[df['A'] > 10]

    A      B   C
3  15  acbdd  94
4  20      a  78

In [33]:
2*(0.8*0.6667)/(0.8+0.6667)

0.7272925615326924